@mixin flex-center($jc: center, $ai: center) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    display: -webkit-flex;
    -webkit-justify-content: $jc;
    -webkit-align-items: $ai;
}
