$orange_color: #ff6633;

$white_color: #ffffff;
$white_color1: #f3f2f1;
$white_color2: #daccbe;
$white_color3: #f8f7f6;

$green_color: #70c05b;

$grey_color: #8f8f8f;
$grey_color1: #413d3d;

$white_opacity: #fcfcfc1a;
